<main>
    <article class="post">
        <h2 class="post-title">{{title}}</h2>
        <div class="post-meta">
            <span>Posted by {{user.username}} on {{format_date createdAt}}</span>
        </div>
        <div class="post-content">
            <p>{{content}}</p>
        </div>
    </article>

    <section class="post">
        <h3 class="post-title">Comments</h3>
        {{#if logged_in}}
            <form id="comment-form">
                <textarea id="comment-content" name="content" placeholder="Leave a comment..." required></textarea>
                <button type="submit" class="nav-button">Submit Comment</button>
            </form>
        {{else}}
            <p><a href="/login">Sign in to comment</a></p>
        {{/if}}

        {{#each comments}}
            <div class="comment">
                <p>{{content}}</p>
                <div class="post-meta">
                    <span>By {{user.username}} on {{format_date createdAt}}</span>
                </div>
            </div>
        {{/each}}
    </section>
</main>

<script src="/js/comment.js"></script>

{{> footer}}