{{> header}}

<main>
    <section>
        <article>
            <h2>{{title}}</h2>
            <p>{{createdAt}}</p>
            <p>{{content}}</p>
            <h3>Comments</h3>
            {{#each comments}}
                <div>
                    <p>{{content}}</p>
                    <p>By {{username}} on {{createdAt}}</p>
                </div>
            {{/each}}
            {{#if logged_in}}
                <form id="comment-form">
                    <textarea name="comment" placeholder="Add a comment"></textarea>
                    <button type="submit">Submit</button>
                </form>
            {{else}}
                <p>Please <a href="/login">login</a> to comment.</p>
            {{/if}}
        </article>
    </section>
</main>

{{> footer}}
